<!-- views/login.ejs -->
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initialscale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="../../css/fontawesome.min.css"> -->
        <link rel="stylesheet" type="text/css" href="../../css/theme.css">
        <link rel="stylesheet" type="text/css" href="../../css/animate.min.css">
    </head>
    <body>
        <div class="">
            <div>
                <%- include('../partials/header2.ejs') -%>
            </div>
            <main>
                <% if(user.skillset.length == 0){ %>
                    <div style="width: 100%; max-width: 400px; margin: auto; margin-top: 200px;">
                        <center>
                            <b>
                                <%= user.firstname %> <%= user.lastname %>'s Skillset/Interests Is Yet To Be Updated...
                            </b>
                        </center>
                    </div>
                <% }else{ %>
                    <div class="select-list container">
    
                        <center><h6>Hello <%= me.firstname %>, which of these do you think I <%= user.firstname %> <%= user.lastname %> am good at or should opt for?</h6></center>
                        
                        
                        <ul>
                            <% for(i=0; i<user.skillset.length; i++){ %>
                                <li>
                                    <input type="radio" id="option<%= i + 1 %>" value="<%= user.skillset[i] %>" name="choice">
                                    <label for="option<%= i + 1 %>"><%= user.skillset[i] %></label>
                                    
                                    <div class="check"></div>
                                </li>
                            <% } %>
                        </ul>
    
                        <button class="btn btn-primary btn-md selected-submit" id="selected-submit">
                            Send..
                        </button>
                    </div>
                    <div class="selected-appreciation" id="selected-appreciation" style="display: none;">
                        Thank you <%= me.firstname %> for your contribution. <br>
                        Don't miss out on the experience. Get your link and share to friends now.
    
                        <p style="margin: auto; margin-top: 30px; text-align: center; width: max-content;">
                            <a href="/dashboard">
                                <button class="btn btn-primary btn-md" style="margin: auto; text-align: center;">
                                    Get Link
                                </button>
                            </a>
                        </p>
                    </div>
                <% } %>
            </main>
        </div>
    </body>
    <footer>
        <%- include('../partials/footer.ejs') -%>
    </footer>>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script>

        document.getElementById('selected-submit').onclick = function() {
            var choiceValue = "";
            var choice = document.getElementsByName('choice'); 
            // document.getElementById("video-div").style.display = "none";
            for(i = 0; i < choice.length; i++) { 
                if(choice[i].checked) 
                // document.getElementById("result").innerHTML
                //         = "Gender: "+ele[i].value; 
                choiceValue = choice[i].value;
            }
            if(choiceValue.trim() === ""){
                alert("Select Something..");
            }else{
                document.getElementById('selected-submit').textContent = 'Sending...';
                document.getElementById('selected-submit').disabled = true;
                axios.post('/selectedSubmit/<%= user.id %>', {
                    choice: choiceValue
                }).then((res) => {
                    if(res.data.success === true){
                        document.getElementById('selected-appreciation').style.display = 'block';
                        document.getElementById('selected-submit').style.display = 'none';
                    }
                }).catch((err) => {

                });
            }

        }
    </script>
</html>